.card {
  display: grid;
  grid-template-rows: 50% 50%;
  width: 300px;
  height: 400px;
  background-color: #fff8ec;
  border: 2px solid lightgray;
  border-radius: 10px;
  justify-items: center;
  align-items: center;
}
.card > img {
  height: 80%;
}
.infoBg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 0 0 10px 10px;
  height: 100%;
}
.info {
  width: 80%;
  margin: 0 auto;
}
.info > p {
  margin-top: 0;
}
.buttons {
  display: grid;
  grid-template-columns: 12% 20% 12% 50%;
  gap: 5px;
  width: 80%;
  height: 25px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 3rem;
}
button {
  background-color: #dcccac;
  border: 1px solid #99ad7a;
  border-radius: 5px;
  cursor: pointer;
}
input {
  background-color: #fff8ec;
  border: 1px solid #99ad7a;
  border-radius: 5px;
}
.card:hover {
  transform: scale(1.02);
  transition: 0.2s;
}
